.header {
    background: silver;
    padding: 8px 0;

    &-hyperlink {
        color: white;
        font-size: 18px;
        margin-left: 20px;
        transition: all .2s linear;
        
        &:hover {
            text-decoration: none;
            color: inherit;
            opacity: .7;
        }

        &__cart {
            position: absolute;
            right: 50px;
        }
    }
}