.header {
    background: silver;

    &-hyperlink {
        color: white;
        font-size: 18px;
        margin-left: 5px;
        transition: all .2s linear;
        
        &:hover {
            text-decoration: none;
            color: inherit;
            opacity: .7;
        }
    }
}