.main-layout {
    min-height: 100vh;
    overflow: hidden;
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .card {

        &__hyperlink {
            background-color: #007bff;
            padding: 5px 0;
            border-radius: 5px;
            color: white;
            text-align: center;

            &--img {
                display: flex;
            }

            &:hover {
                text-decoration: none;
                background-color: #0062cc;
            }
        }

        &-img, 
        &-img-top {
            margin: 10px auto;
            height: auto;
            max-width: 200px;
            min-width: 145px;
            transition: all .2s linear;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }

    .badge {
        font-size: 45%;
    }
}